.campo-texto{
    display: flex;
    flex-direction: column;
}

.campo-texto label{
    font-family: 'Fira Sans', sans-serif;
    margin: 25px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.campo-texto input{
    width: 100%;
    font-size: 12px;
    box-shadow: 10px 10px 17px rgba(0, 0, 0, 0.1);
    padding: 22px 20px;
    border: none;
    box-sizing: border-box;
}